// COLORS
$primary-color: #497A00;    //#02aab0;
$secondary-color: #497A00; //#00cdac;

// $primary-color: #7f449d;
// $secondary-color: #793fc1;

$white-color: #fff;

$dark-grey: #3F3938; //#333333;

$brown-dark: #3F3938;
/*$brown-dark-alpha: rgba(63, 57, 56, 0.3);*/
$brown-dark-alpha: rgba(255, 255, 255, 0.3);
$black-dark-alpha: rgba(0, 0, 0, 0.3);

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
